body{
	margin: 0;
	background: LightSkyBlue;
}

a{
	text-decoration: none;
	color: blue;
	font-style: italic;
}

.row{
	display: flex;
	width: 100%;
}
.center{
	justify-content: center;
}

.end{
	justify-content: flex-end;
}

.button{
	border: 2px solid white;
	border-radius: 40px;
	background: none;
	transition: all 0.5s;
	color: black;
	margin-top: 20px;
	text-align: center;
}

.tall{
	height: 45px;
	line-height: 45px;
}

.wide{
	width: 400px;
}

.thin{
	width: 150px;
}

.short{
	height: 2em;
	line-height: 2em;
}

.normal-text{
	font-style: normal;
}

.button:hover{
	background: white;
	cursor: pointer;
}