.login-input{
	border: none;
	border-bottom: 2px solid white;
	background: none;
	text-align: center;
	transition: all 0.5s;
	width: 250px;
	color: white;
}

.login-input:focus{
	outline: none;
	background: hsl(0,0%,5%);
}

#submit-form{
	border: 2px solid white;
	background: none;
	width: 120px;
	height: 40px;
	transition: all 0.5s;
	color: white;
}

#submit-form:hover{
	background: hsl(0,0%,10%);
	cursor: pointer;
}

#register_form form div{
	margin-top: 20px;
}