.form-input{
	border: none;
	border-bottom: 2px solid white;
	background: none;
	text-align: center;
	transition: all 0.5s;
	width: 250px;
	color: white;
	margin-top: 20px;
}

.form-input:focus{
	outline: none;
	background: hsl(1, 0%, 5%);
}

.form-input-button{
	margin-top: 20px;
	border: 2px solid white;
	background: none;
	width: 120px;
	transition: all 0.5s;
	height: 30px;
}

#submit-poll{
	border-left: none;
}