#header{
	background: gray;
	height: 3em;
	line-height: 3em;
	justify-content: space-between;
}

#navigation-links{
	display: flex;
	height: 100%;
}

#navigation-links:nth-child(2){
	margin-right: 20px;
}

#home-button{
	margin-left: 20px;
}

.header-button{
	height: 100%;
	background: DarkGray;
	width: 4em;
	text-align: center;
}

#home-button:hover, #navigation-links *:hover{
	background: white;
}