#header{
	background: hsl(0,0%,5%);
	height: 4em;
	line-height: 4em;
	justify-content: space-between;
}

#navigation-links{
	display: flex;
	height: 100%;
}

.header-button{
	height: 100%;
	width: 120px;
	text-align: center;
	font-style: normal;
	transition: all 0.3s;
}

#home-button:hover, #navigation-links *:hover, .header-button:hover{
	background: hsl(0,0%,10%);
}