#chart{
	width: 100%;
}

#poll-text{
	min-width: 500px;
}

.container{
	margin: 30px;
}

.name{
	white-space: nowrap;
	text-align: center;
}

.poll-option{
	margin-bottom: 10px;
}

.poll-bottom{
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

#poll-text{
	width: 50%;
}

#poll-chart{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	padding-top: 50px;
}